{% if tracking_code | default is empty %}
    {% if content_piece.sliceTrackingCode | default is not empty %}
        {% set tracking_code = content_piece.sliceTrackingCode | default %}
    {% endif %}
{% endif %}

{% verbatim %}

<div class="optimismbias-container" ng-app="ob" ng-controller="MainController as main">
	<div class="main">
		<header>
			<ul class="nav nav-tabs" ng-if="main.currentIndex > 0">
				<li ng-class="{active: main.currentIndex === 1}"><a href="#">about you</a></li>
				<li ng-class="{active: main.currentIndex === 2}"><a href="#">your retirement</a></li>
				<li ng-class="{active: main.currentIndex === 3}"><a href="#">your contribution</a></li>
				<li ng-class="{active: main.currentIndex === 4}"><a href="#">results</a></li>
				<li ng-class="{active: main.currentIndex === 5}"><a href="#">next steps</a></li>
			</ul>
		</header>



		<page-carousel current-index="main.currentIndex" animation-done="main.animationDone()">

		



		  <page class="slide one" ng-controller="FirstPageController as firstPage">
			<div class="container grid">
				<h3 class="ywft navy">Retirement</h3>
				<img class="responsive" src="/bundles/droga5optimismbias/images/reality-check.png" alt="reality check"/>
				<h5 class="navy">Are you being too optimistic about your retirement plans?</h5>
				<button class="btn btn-default find" ng-click="main.next()">Find out<span class="glyphicon glyphicon-menu-right"></span></button>
			</div>
		  </page>



		  <page class="slide">
			<div class="container" ng-controller="SecondPageController as secondPage">
				<div class="content inner">
					<div class="v-center">
						<div class="col-sm-4 tall">
							<h4 class="labels navy col-xs-6 col-sm-12">How old are you?</h4>
							<input type="text" ng-model="secondPage.user.age" only-integer class="col-xs-6 col-sm-12 ">
						</div>

						<div class="col-sm-4 tall">
							<h4 class="labels navy col-xs-6 col-sm-12" >What is your annual salary?</h4>
							<input type="text" field="secondPage.user.annualSalary" format-money class="col-xs-6 col-sm-12">
						</div>

						<div class="col-sm-4 tall">
							<h4 class="labels navy col-xs-6 col-sm-12">How much do you currently have saved for retirement?</h4>
							<input type="text" field="secondPage.user.savedForRetirement" format-money class="col-xs-6 col-sm-12">
							<p class="note sans" ng-hide="isMobile()">Include 401(K)s, IRAs, pensions, profit sharing planes, etc.</p>
						</div>
							<p class="note sans" ng-show="isMobile()">Include 401(K)s, IRAs, pensions, profit sharing planes, etc.</p>
						<p class="note navy">This information will only be used for your calculation. It won't be shared with anyone.</p>
					</div>
				</div>
			</div>
		  </page>



		  <page class="slide">
			<div class="container" ng-controller="ThirdPageController as thirdPage">
				<div class="content inner row">
					<div class="h-center response col-sm-11 col-xs-12">
				<div class="col-sm-6 tall small left">
					<h4 class="labels navy col-xs-6 col-sm-12">How old do you think you'll be when you retire?</h4>
					<input type="text" ng-model="thirdPage.user.minRetire" only-integer max="3" class="col-xs-6 col-sm-12">

					<!-- IF LESS THAN 65 -->
					<div class="col-xs-12 prompt" ng-class="{'vis-hidden': !thirdPage.realityMin() && !thirdPage.realityMax() && !thirdPage.realityMid()}">
						<span ng-if="thirdPage.realityMin()">Did you know the average American retires at 66?
						<span ng-if="thirdPage.realityMin()" class="source r-age-min" ng-class="{'vis-hidden': !thirdPage.realityMin() && !thirdPage.realityMax() && !thirdPage.realityMid()}" ng-show="isMobile()">Source: <a href="#">Gallop Poll 1</a></span>


						</span>


						<span ng-if="thirdPage.realityMax()">Many of us plan on working longer, but studies show that 49% of Americans have to retire earlier than expected.
						<span ng-if="thirdPage.realityMax()"class="source r-age-max" ng-class="{'vis-hidden': !thirdPage.realityMin() && !thirdPage.realityMax() && !thirdPage.realityMid()}" ng-show="isMobile()">Source: <a href="#">US News</a></span>
						</span>



						<span ng-if="thirdPage.realityMid()">It looks like you're setting realistic goals. The average American retires at 62.
						
						<span ng-if="thirdPage.realityMid()"class="source r-age-mid" ng-class="{'vis-hidden': !thirdPage.realityMin() && !thirdPage.realityMax() && !thirdPage.realityMid()}" ng-show="isMobile()">Source: <a href="#">Gallop Poll</a></span>

						</span>
					</div>

					<span ng-if="thirdPage.realityMin()" class="source" ng-class="{'vis-hidden': !thirdPage.realityMin() && !thirdPage.realityMax() && !thirdPage.realityMid()}" ng-hide="isMobile()">Source: <a href="#">Gallop Poll 1</a></span>

					<span ng-if="thirdPage.realityMax()"class="source" ng-class="{'vis-hidden': !thirdPage.realityMin() && !thirdPage.realityMax() && !thirdPage.realityMid()}" ng-hide="isMobile()">Source: <a href="#">US News</a></span>

					<span ng-if="thirdPage.realityMid()"class="source" ng-class="{'vis-hidden': !thirdPage.realityMin() && !thirdPage.realityMax() && !thirdPage.realityMid()}" ng-hide="isMobile()">Source: <a href="#">Gallop Poll</a></span>

				</div>

				<hr class="v">

				<div class="col-sm-6 right tall small">
					<h4 class="labels navy col-xs-6 col-sm-12">How many years do you think your retirement will last?</h4>
					<input type="text" ng-model="thirdPage.user.maxRetire" only-integer max="3" class="col-xs-6 col-sm-12">

					<div class="col-xs-12 prompt" ng-class="{'vis-hidden': !thirdPage.futureMin() && !thirdPage.futureMax() && !thirdPage.futureMid()}">
						<span ng-if="thirdPage.futureMin()">Did you know experts recomment planning to live to 105?</span>
						<span ng-if="thirdPage.futureMax()">The oldest person in history lived to 122. But with modern medical advances, who knows what the future of longevity will bring.</span>
						<span ng-if="thirdPage.futureMid()">It looks like you're setting realistic goals. The average American retires at 62.</span>
						<span ng-if="thirdPage.futureMax()" class="source future-max" ng-class="{'vis-hidden': !thirdPage.futureMin() && !thirdPage.futureMax() && !thirdPage.futureMid()}" ng-show="isMobile()">Source: 
						<a href="#">New York Times</a>
						</span>
					</div>

					<span ng-if="thirdPage.futureMax()" class="source" ng-class="{'vis-hidden': !thirdPage.futureMin() && !thirdPage.futureMax() && !thirdPage.futureMid()}" ng-hide="isMobile()">Source: <a href="#">New York Times</a></span>
				</div>

				</div>
				</div>

			</div>
		  </page>




		  <page class="slide">
			<div class="container" ng-controller="ForthPageController as forthPage">
				<div class="content inner row">
				<div class="h-center col-xs-12 your">
				<h4 class="labels navy">How much are you currently contributing to your workplace retirement plan?</h4>

				<div class="col-sm-4 contrib">
					<div class="roundedOne">
									<input type="radio" id="percentage" ng-model="forthPage.user.contributionPlan" value="percentage" name="radio" />
									<label for="percentage"><span></span></label>
								</div>
								<animated-number class="col-xs-9 col-sm-12" number="forthPage.user.contribution" select="{{forthPage.user.contributionPlan === 'percentage'}}" clicked="forthPage.user.contributionPlan = 'percentage'"></animated-number>


						<span ng-show="forthPage.user.contributionPlan === 'percentage'">
								<div class="matches">
									<h5>
										<p class="i dark">
											<button>i</button>
										</p>

										My company matches</h5>

									<!-- Squared TWO -->
									<div class="squaredTwo">
										<input type="checkbox" ng-model="forthPage.user.match" id="squaredTwo" name="check" />
										<label for="squaredTwo"></label>
									</div>
								</div>

								<animated-number class="match col-xs-12" number="forthPage.user.contributionCompany" select="{{forthPage.user.match}}" clicked="forthPage.user.match = true"></animated-number>
								</span>

				</div>

				<div class="col-sm-4 col-xs-12">
					<!--<input type="radio" name="contributionPlan" value="auto" ng-model="forthPage.user.contributionPlan">
										 Rounded ONE -->
					<div class="roundedOne">
									<input type="radio" id="auto" ng-model="forthPage.user.contributionPlan"  value="auto" name="radio" />
									<label for="auto"><span></span></label>
								</div>
					<h5 class="labels navy">I don't know. I just did auto-enrollment.</h5>
					<div class="prompt contribution" ng-class="{'vis-hidden': forthPage.user.contributionPlan !== 'auto'}" ng-hide="isMobile()">
						You may be contributing less than you think. Most auto-enrollment plans start your contributions at just 3%. We'll use that for your calculation.
					</div>
				</div>

				<div class="col-sm-4 col-xs-12">

					<div class="roundedOne">
									<input type="radio" id="social" ng-model="forthPage.user.contributionPlan"  value="social" name="radio" />
									<label for="social"><span></span></label>
								</div>
				<!--	<input type="radio" name="contributionPlan"  value="social" ng-model="forthPage.user.contributionPlan">
				-->
					<h5 class="labels navy">Nothing. I'll just collect my Social Security</h5>
					<div class="prompt contribution" ng-class="{'vis-hidden': forthPage.user.contributionPlan !== 'social'}">
						A lot of people think of Social Security as a safety net, but on its own, the average monthly benefit likely isn't enough to live abov a federal poverty line.
					</div>
					<div class="prompt contribution" ng-class="{'dis-hidden': forthPage.user.contributionPlan !== 'auto'}" ng-show="isMobile()">
						You may be contributing less than you think. Most auto-enrollment plans start your contributions at just 3%. We'll use that for your calculation.
					</div>
				</div>
				</div>
			</div>
			</div>
		  </page>


		  <page class="slide">
		  	<div class="container grid r-none" ng-controller="FifthPageController as fifthPage">
		  		<div class="row offset-container">

		  			<div class="col-sm-6 col-sm-offset-2 left-align estimate">
		  				<div class="top-info">
		  					<span ng-show="fifthPage.resultMode">
		  						<span ng-hide="fifthPage.infoMode">

									<div class="col-xs-6 estimate-left" ng-show="isMobile()">
		  							<h4 class="col-sm-12">estimated income in retirement</h4>
		  							<p class="col-sm-12">including Social Security</p>
									</div>

		  							<h4 class="col-xs-6 col-sm-12" ng-hide="isMobile()">estimated income in retirement</h4>
		  							<h2 class="col-xs-6 col-sm-12">{{ fifthPage.result.savingPerYear | currency:"$":0 }}<span class="slash">/yr</span></h2>
		  							<p class="col-xs-6 col-sm-12" ng-hide="isMobile()">including Social Security</p>
		  						</span>
		  						<span ng-show="fifthPage.infoMode">
		  							<p class="note">This calculation assumes a xx rate of return over xx year.  
									The compounding concept is hypothetical and for illustrative 
									purposes only and is not intended to represent performance of any specific investment, which may fluctuate. No taxes are considered in the calculations; generally withdrawals are taxable at ordinary rates. It is possible to lose money by investing in securities. 
									</br><br>

									The Social Security benefits included are estimates and 
									are not guaranteed.  Benefits may be reduced or even 
									eliminated at any time. </p>
		  						</span>
		  						<p class="i"><button ng-click="fifthPage.infoMode = !fifthPage.infoMode">i</button></p>
		  					</span>
		  					<span ng-show="fifthPage.calculMode">
		  						<span style="font-size: 20px;">Calculating...</span>
		  						<progressbar style="height: 5px;margin-bottom: 0px;margin-left: 40px;margin-right: 40px;" value="fifthPage.progress"></progressbar>
		  						<slot-machine-text increase="fifthPage.slot">
		  						<div style="font-size: 20px;" class="slideUp">Years Until Retirement: {{ fifthPage.result.yearBeforeRetirment }}</div>
		  						<div style="font-size: 20px;" class="slideUp">Annual Contribution: {{ fifthPage.result.annualContribution }}%</div>
		  						<div style="font-size: 20px;" class="slideUp">Inflation: {{ fifthPage.result.inflationRate }}%</div>
		  						<div style="font-size: 20px;" class="slideUp">Total Saving: {{ fifthPage.result.totalSaving | currency:"$":0 }}</div>
		  						<div style="font-size: 20px;" class="slideUp">Divided By {{ fifthPage.result.retirmentLast }} Years</div>
		  					</slot-machine-text>
		  				</span>
		  			</div>
		  			<div class="arrow-down"></div>
		  			<div class="circle intro-circle">
		  				<span class="inner"></span>
		  			</div>
		  			<div class="shadow intro-shadow"></div>
		  		</div>

		  		<div class="enough col-sm-6" ng-show="fifthPage.resultMode">
		  			<div class="inner">
		  			<div class="grey">
		  			<div class="col-xs-6 col-sm-12">
		  				<h4 class="col-sm-12">is that enough?</h4>
		  				<p class="col-sm-12">See how increasing your retirement contribution could make a big difference.</p>
		  				</div>
		  				<animated-number class="col-xs-6 col-sm-12" number="fifthPage.increase" select="true" more-clicked="fifthPage.more(number)" less-clicked="fifthPage.less(number)"></animated-number>
		  				</div>

		  				<div class="prompt estimate col-xs-12" ng-hide="isMobile()">
		  					<p>Once you factor in inflation, you would have about 

		  					<h2>$27,000<span class="slash">/yr</span><span class="footnote num">1</span></h2>
		  						in today's dollars.
		  					</p>
		  				</div>


		  				<div class="prompt estimate col-xs-12" ng-show="isMobile()">
		  					<p>Once you factor in inflation, you would have about 

		  					<b>$27,000<span class="slash">/yr</span><span class="footnote num">1</span></b>
		  						in today's dollars.
		  					</p>
		  				</div>
		  			</div>
		  			<p class="footnote" ng-hide="isMobile()">Inflation is assumed to be 3%. The return is purely hypothetical</p>
		  		</div>
		  	</div>
		  </div>
		</page>
<!--- FIFTH SLIDE PLACE -->

		  <page class="slide">
			<div class="container" ng-controller="SixthPageController as sixthPage">
			<div class="content inner plan">
			<ul class="row nav-plan">
				<li class="left" ng-click="main.prev()">Back</li>
				<li class="right" ng-click="main.startOver()">Start over</li>


			</ul>
				<h3>MAKE A PLAN </h3>
				<p class="blue-note">Studies show people who monitor their investments are more than twice as likely to succeed at retirement.<span class="footnote" ng-hide="isMobile()">1</span>

				<div class="col-sm-6 plan-entry">
				<h4 class="labels navy">Remind me</h4>
				<p>Set a quarterly calendar reminder to check in on your retirement account.</p>
				<button class="btn btn-default round" >Set a calendar reminder</button>
				</div>

				<div class="col-sm-6 plan-entry">
				<h4 class="labels navy">Start now</h4>
				<p>Log in to your Prudential retirement account and start contributing more today. <br>Or call 1-XXX-XXXX for assistance.</p>
				<button class="btn btn-default round" >Login now</button>
				</div>

				<div class="row source">
				<p>Source: <a href="#">Prudential Financial Literacy and Retirement Readiness Study</a></p>
				</div>
			</div>
			</div>
					<div class="btn-group" ng-if="main.displayButtons">
			<button type="button" class="btn btn-default back" ng-click="main.prev()">
				<span class="glyphicon glyphicon-menu-left"></span>Back
			</button>

			<button type="button" class="btn btn-default next" ng-disabled="main.nextDisabled()" ng-click="main.next()">
			{{main.nextButton}}
				<span class="glyphicon glyphicon-menu-right"></span>
			</button>
		</div>
		  </page>
		</page-carousel>

		<div class="btn-group" ng-if="main.displayButtons">
			<button type="button" class="btn btn-default back" ng-click="main.prev()">
				<span class="glyphicon glyphicon-menu-left"></span>Back
			</button>

			<button type="button" class="btn btn-default next" ng-disabled="main.nextDisabled()" ng-click="main.next()">
			{{main.nextButton}}
				<span class="glyphicon glyphicon-menu-right"></span>
			</button>
		</div>
	</div>

</div><!-- end container -->

{% endverbatim %}


{% if content_piece.isForestView|default is not empty %}
    {% include 'BYCCMSBundle:ContentPiece:ForestViewContentPiece.html.twig' with {"content_piece":content_piece} %}
{% endif %}
