{% if tracking_code | default is empty %}
    {% if content_piece.sliceTrackingCode | default is not empty %}
        {% set tracking_code = content_piece.sliceTrackingCode | default %}
    {% endif %}
{% endif %}

{% verbatim %}


<div class="optimismbias-container" ng-app="ob" ng-controller="MainController as main">


	<div class="loader" ng-hide="isLoaded()" >
		<div>		
		<div class="ball">
		</div>
		</div>
	</div>
	<div class="main" ng-cloak>
		<header ng-class="{'vis-hidden': !main.currentIndex > 0}">
			<ul class="nav nav-tabs" ng-if="!isMobile()">
				<li ng-class="{active: main.currentIndex === 1, past: main.currentIndex > 1}"><a href="#">about you</a></li>
				<li ng-class="{active: main.currentIndex === 2, past: main.currentIndex > 2}"><a href="#">your retirement</a></li>
				<li ng-class="{active: main.currentIndex === 3, past: main.currentIndex > 3}"><a href="#">your contribution</a></li>
				<li ng-class="{active: main.currentIndex === 4, past: main.currentIndex > 4 }"><a href="#">results</a></li>
				<li ng-class="{active: main.currentIndex === 5, past: main.currentIndex > 5 }"><a href="#">next steps</a></li>
			</ul>
			<centered-menu selected="{{main.currentIndex}}" ng-if="isMobile()">
				<menu ng-class="{active: main.currentIndex === 1, past: main.currentIndex > 1}"><a href="#">about you</a></menu>
				<menu ng-class="{active: main.currentIndex === 2, past: main.currentIndex > 2}"><a href="#">your retirement</a></menu>
				<menu ng-class="{active: main.currentIndex === 3, past: main.currentIndex > 3}"><a href="#">your contribution</a></menu>
				<menu ng-class="{active: main.currentIndex === 4, past: main.currentIndex > 4 }"><a href="#">results</a></menu>
				<menu ng-class="{active: main.currentIndex === 5, past: main.currentIndex > 5 }"><a href="#">next steps</a></menu>
			</centered-menu>
		</header>



		<page-carousel current-index="main.currentIndex" animation-done="main.animationDone()">

		



		  <page class="slide one" ng-controller="FirstPageController as firstPage">
			<div class="container grid">
				<h3 class="ywft navy">Retirement</h3>
				<img class="responsive" src="/bundles/droga5optimismbias/images/reality-check.png" alt="reality check logo"/>
				<h5 class="navy">Are you being too optimistic about your retirement plans?</h5>
				<button class="btn btn-default find" ng-click="main.next()">Find out<span class="glyphicon glyphicon-menu-right"></span></button>


			</div>
			<!--<button class="btn-1e">Button</button>-->
		  </page>



		  <page class="slide">
			<div class="container" ng-controller="SecondPageController as secondPage">
				<div class="content inner">
					<div class="v-center">
						<div class="col-sm-4 tall">
							<h4 class="labels navy col-xs-6 col-sm-12">How old are you?</h4>
							<input type="text" focus-me="secondPage.focus" ng-model="secondPage.user.age" only-integer class="col-xs-6 col-sm-12 " name="how old are you?" max="3">
						</div>

						<div class="col-sm-4 tall">
							<h4 class="labels navy col-xs-6 col-sm-12" >What is your annual salary?</h4>
							<input type="text" field="secondPage.user.annualSalary" format-money class="col-xs-6 col-sm-12" name="your annual salary">
						</div>

						<div class="col-sm-4 tall">
							<h4 class="labels navy col-xs-6 col-sm-12">How much do you currently have saved for retirement?</h4>
							<input type="text" field="secondPage.user.savedForRetirement" format-money class="col-xs-6 col-sm-12" name="How much do you currently have saved for retirement">
							<p class="note sans" ng-hide="isMobile()">Include 401(K)s, IRAs, pensions, profit sharing planes, etc.</p>
						</div>
							<p class="note sans" ng-show="isMobile()">Include 401(K)s, IRAs, pensions, profit sharing planes, etc.</p>
						<p class="note navy">This information will only be used for your calculation. It won't be shared with anyone.</p>
					</div>
				</div>
			</div>
		  </page>



		  <page class="slide">
			<div class="container" ng-controller="ThirdPageController as thirdPage">
				<div class="content inner row">
					<div class="v-center response col-sm-12 col-xs-12">
				<div class="col-sm-6 tall small left">
					<h4 class="labels navy col-xs-6 col-sm-12">How old do you think you'll be when you retire?</h4>
					<input type="text" focus-me="thirdPage.focus" ng-model="thirdPage.user.minRetire" only-integer max="3" class="col-xs-6 col-sm-12">

					<!-- IF LESS THAN 65 -->
					<div class="col-xs-12 prompt" ng-class="{'vis-hidden': !thirdPage.realityMin() && !thirdPage.realityMax() && !thirdPage.realityMid()}">
						<span class="span" ng-if="thirdPage.realityMin()">Did you know the average American retires at 62?
						<span class="source r-age-min span" ng-show="isMobile()">Source: <a href="www.gallup.com/poll/168707/average-retirement-age-rises.aspx">Gallup Poll</a></span>
						</span>
						<span ng-if="thirdPage.realityMax()" class="span">Many of us plan on working longer, but studies show that 49% of Americans have to retire earlier than expected.
						<span ng-if="thirdPage.realityMax()"class="source r-age-max span" ng-class="{'vis-hidden': !thirdPage.realityMin() && !thirdPage.realityMax() && !thirdPage.realityMid()}" ng-show="isMobile()">Source: <a href="http://money.usnews.com/money/retirement/articles/2014/05/12/the-ideal-retirement-age-and-why-you-wont-retire-then">US News</a></span>
						</span>
						<span ng-if="thirdPage.realityMid()" class="span">It looks like you're setting realistic goals. The average American retires at 62.
						<span ng-if="thirdPage.realityMid()"class="source r-age-mid span" ng-class="{'vis-hidden': !thirdPage.realityMin() && !thirdPage.realityMax() && !thirdPage.realityMid()}" ng-show="isMobile()">Source: <a href="www.gallup.com/poll/168707/average-retirement-age-rises.aspx">Gallup Poll</a></span>

						</span>
					</div>

					<span class="source" ng-class="{'vis-hidden': !thirdPage.realityMin() && !thirdPage.realityMax() && !thirdPage.realityMid()}" ng-hide="isMobile()">

					<span style="visibility: hidden">empty</span>


					<span ng-if="thirdPage.realityMin()" >Source: <a href="www.gallup.com/poll/168707/average-retirement-age-rises.aspx">Gallup Poll</a></span>

					<span ng-if="thirdPage.realityMid()">Source: <a href="www.gallup.com/poll/168707/average-retirement-age-rises.aspx">Gallup Poll</a></span>


					<span ng-if="thirdPage.realityMax()">Source: <a href="http://money.usnews.com/money/retirement/articles/2014/05/12/the-ideal-retirement-age-and-why-you-wont-retire-then">US news</a></span>


					</span>
<!--
					<span ng-if="thirdPage.realityMax()"class="source" ng-class="{'vis-hidden': !thirdPage.realityMin() && !thirdPage.realityMax() && !thirdPage.realityMid()}" ng-hide="isMobile()">Source: <a href="#">US News</a></span> 

					<span ng-if="thirdPage.realityMid()"class="source" ng-class="{'vis-hidden': !thirdPage.realityMin() && !thirdPage.realityMax() && !thirdPage.realityMid()}" ng-hide="isMobile()">Source: <a href="#">Gallup Poll</a></span>
-->
				</div>

				<hr class="v">

				<div class="col-sm-6 right tall small">
					<h4 class="labels navy col-xs-6 col-sm-12">How many years do you think your retirement will last?</h4>
					<input type="text" ng-model="thirdPage.user.maxRetire" only-integer max="3" class="col-xs-6 col-sm-12">

					<div class="col-xs-12 prompt" ng-class="{'vis-hidden': !thirdPage.futureMin() && !thirdPage.futureMax() && !thirdPage.futureMid()}">
						<span ng-if="thirdPage.futureMin()" class="span">Did you know experts recomment planning to live to 105?</span>
						<span ng-if="thirdPage.futureMax()" class="span">The oldest person in history lived to 122. But with modern medical advances, who knows what the future of longevity will bring.</span>
						<span ng-if="thirdPage.futureMid()" class="span">That sounds about right. Many experts recommend planning to live to 105.</span>
						<span ng-if="thirdPage.futureMax()" class="source future-max span" ng-class="{'vis-hidden': !thirdPage.futureMin() && !thirdPage.futureMax() && !thirdPage.futureMid()}" ng-show="isMobile()">Source: 
						<a href="http://www.nytimes.com/1997/08/05/world/jeanne-calment-world-s-elder-dies-at-122.html">New York Times</a>
						</span>
					</div>

					<span ng-if="thirdPage.futureMax()" class="source" ng-class="{'vis-hidden': !thirdPage.futureMin() && !thirdPage.futureMax() && !thirdPage.futureMid()}" ng-hide="isMobile()">Source: <a href="http://www.nytimes.com/1997/08/05/world/jeanne-calment-world-s-elder-dies-at-122.html">New York Times</a></span>
				</div>

				</div>
				</div> <!--- inner row dtop end -->


				

			</div>
		  </page>




		  <page class="slide">
			<div class="container contribution" ng-controller="ForthPageController as forthPage">
				<div class="content inner row" ng-if="!isMobile()">
				<div class="v-center col-xs-12 your">
				<h4 class="labels navy">How much are you currently contributing to your workplace retirement plan?</h4>

				<div class="col-sm-4 contrib">
					<div class="roundedOne">
									<input type="radio" id="percentage" ng-model="forthPage.user.contributionPlan" value="percentage" name="radio" />
									<label for="percentage"><span></span></label>
								</div>
								<animated-number class="col-xs-9 col-sm-12" number="forthPage.user.contribution" select="{{forthPage.user.contributionPlan === 'percentage'}}" clicked="forthPage.user.contributionPlan = 'percentage'"></animated-number>


						<span ng-class="{'vis-hidden': forthPage.user.contributionPlan !== 'percentage'}" >
								<div class="matches" >
									<div class="info-tool" ng-if="forthPage.info">
										<p>This calculation assumes a xx rate of return over xx year.  
											The compounding concept is hypothetical and for illustrative 
											purposes only and is not intended to represent performance of any specific investment, which may fluctuate. 
											</p>

											<div class="arrow-right">	
											</div>
									</div>
									<h5>

									<!-- Squared TWO -->
									<div class="squaredTwo">
										<input type="checkbox" ng-model="forthPage.user.match" id="squaredTwo" name="check" />
										<label for="squaredTwo"></label>
									</div>


										My company matches 					<p class="i dark match-toggle" ng-click="forthPage.info = !forthPage.info">
											<button>i</button>
										</p></h5>


								</div>

								<animated-number max-number="6"  class="match col-xs-12" number="forthPage.user.contributionCompany" select="{{forthPage.user.match}}" clicked="forthPage.user.match = true"></animated-number>
								</span>

				</div>

				<div class="col-sm-4 col-xs-12">
					<!--<input type="radio" name="contributionPlan" value="auto" ng-model="forthPage.user.contributionPlan">
										 Rounded ONE -->
					<div class="roundedOne">
									<input type="radio" id="auto" ng-model="forthPage.user.contributionPlan"  value="auto" name="radio" />
									<label for="auto"><span></span></label>
								</div>
					<h5 class="labels navy down">I don't know. I just did auto-enrollment.</h5>
					<div class="prompt contribution" ng-class="{'vis-hidden': forthPage.user.contributionPlan !== 'auto'}" ng-hide="isMobile()">
					<span class="span">
						You may be contributing less than you think. Most auto-enrollment plans start your contributions at just 3%. We'll use that for your calculation.
						</span>
					</div>
				</div>

				<div class="col-sm-4 col-xs-12">

					<div class="roundedOne">
									<input type="radio" id="social" ng-model="forthPage.user.contributionPlan"  value="social" name="radio" />
									<label for="social"><span></span></label>
								</div>
				<!--	<input type="radio" name="contributionPlan"  value="social" ng-model="forthPage.user.contributionPlan">
				-->
					<h5 class="labels navy down">Nothing. I'll just collect my Social Security</h5>
					<div class="prompt contribution" ng-class="{'vis-hidden': forthPage.user.contributionPlan !== 'social'}">
					<span  class="span">
						A lot of people think of Social Security as a safety net, but on its own, the average monthly benefit likely isn't enough to live abov a federal poverty line.
						</span>
					</div>
					<div class="prompt contribution" ng-class="{'vis-hidden': forthPage.user.contributionPlan !== 'auto'}" ng-show="isMobile()">
					<span  class="span">
						You may be contributing less than you think. Most auto-enrollment plans start your contributions at just 3%. We'll use that for your calculation.
						</span>
					</div>
				</div>
				</div>
			</div>

				<div ng-if="isMobile()">
				<h4 class="labels navy">How much are you currently contributing to your workplace retirement plan?</h4>
					<accordion close-others="true">
					    <accordion-group is-open="forthPage.accordion.part1">
					        <accordion-heading>
								<div class="col-sm-4 contrib" ng-click="forthPage.percentageOpen()">
								<div class="roundedOne">
									<input type="radio" id="percentage" ng-model="forthPage.user.contributionPlan" value="percentage" name="radio" />
									<label for="percentage"><span></span></label>
								</div>
								<animated-number class="col-xs-9 col-sm-12" number="forthPage.user.contribution" select="{{forthPage.user.contributionPlan === 'percentage'}}" clicked="forthPage.percentageOpen()"></animated-number>
								</div>
					        </accordion-heading>
					      <span class="info-tool-mobile">
								<div class="matches" >
									<div class="info-tool" ng-if="forthPage.info">
										<p>This calculation assumes a xx rate of return over xx year.  
											The compounding concept is hypothetical and for illustrative 
											purposes only and is not intended to represent performance of any specific investment, which may fluctuate. 
											</p>

											<div class="arrow-right">	
											</div>
									</div>
									<h5>

									<!-- Squared TWO -->
									<div class="squaredTwo">
										<input type="checkbox" ng-model="forthPage.user.match" id="squaredTwo" name="check" />
										<label for="squaredTwo"></label>
									</div>


										My company matches 					<p class="i dark match-toggle" ng-click="forthPage.info = !forthPage.info">
											<button>i</button>
										</p></h5>


								</div>
								
								<animated-number max-number="6"  class="match col-xs-12" number="forthPage.user.contributionCompany" select="{{forthPage.user.match}}" clicked="forthPage.user.match = true"></animated-number>
								</span>
								
					    </accordion-group>
					    <accordion-group is-open="forthPage.accordion.part2">
					        <accordion-heading>
								<div class="col-sm-4 col-xs-12" ng-click="forthPage.autoOpen()">
								<div class="roundedOne">
									<input type="radio" id="auto" ng-model="forthPage.user.contributionPlan"  value="auto" name="radio" />
									<label for="auto"><span></span></label>
								</div>
								<h5 class="labels navy down">I don't know. I just did auto-enrollment.</h5>
								</div>
					        </accordion-heading>

							<div class="prompt contribution info-tool-mobile" ng-class="{'vis-hidden': !forthPage.accordion.waitPart2}">
								<span class="span" >
									A lot of people think of Social Security as a safety net, but on its own, the average monthly benefit likely isn't enough to live abov a federal poverty line.
								</span>
							</div>
						
					    </accordion-group>
					    <accordion-group is-open="forthPage.accordion.part3">
					        <accordion-heading>
							<div class="col-sm-4 col-xs-12" ng-click="forthPage.socialOpen()">

								<div class="roundedOne">
									<input type="radio" id="social" ng-model="forthPage.user.contributionPlan"  value="social" name="radio" />
									<label for="social"><span></span></label>
								</div>
				
								<h5 class="labels navy down">Nothing. I'll just collect my Social Security</h5>
					        </div>
					        </accordion-heading>
					        <div class="prompt contribution info-tool-mobile" ng-class="{'vis-hidden': !forthPage.accordion.waitPart3}">
								<span class="span">
									You may be contributing less than you think. Most auto-enrollment plans start your contributions at just 3%. We'll use that for your calculation.
								</span>
							</div>
					    </accordion-group>
					  </accordion>
				</div>

			</div>
		  </page>


		  <page class="slide">
		  	<div class="container grid r-none" ng-controller="FifthPageController as fifthPage">
		  		<div class="row offset-container">

		  			<div class="col-sm-6 col-sm-offset-2 left-align estimate">
		  				<div class="top-info" ng-class="{black: fifthPage.infoMode}">
		  					<span ng-show="fifthPage.resultMode">
		  						<span ng-hide="fifthPage.infoMode">

									<div class="col-xs-6 estimate-left" ng-show="isMobile()">
		  							<h4 class="col-sm-12">estimated income in retirement</h4>
		  							<p class="col-sm-12 ital">including Social Security</p>
									</div>

		  							<h4 class="col-xs-6 col-sm-12" ng-hide="isMobile()">estimated income in retirement</h4>


<!--{{ fifthPage.result.savingPerYear | currency:"$":0 }} -->


		  							<h2 class="col-xs-6 col-sm-12">$
									<span odometer="{{ fifthPage.result.savingPerYear | number : 0 }}"></span>
		  							<span class="slash span">/yr</span></h2>
		  							<p class="col-xs-6 col-sm-12 ital" ng-hide="isMobile()">including Social Security</p>
		  						</span>
		  						<span ng-show="fifthPage.infoMode">
		  							<p class="note">This calculation assumes a xx rate of return over xx year.  
									The compounding concept is hypothetical and for illustrative 
									purposes only and is not intended to represent performance of any specific investment, which may fluctuate. No taxes are considered in the calculations; generally withdrawals are taxable at ordinary rates. It is possible to lose money by investing in securities. 
									</br><br>
									<span ng-hide="isMobile()">
									The Social Security benefits included are estimates and 
									are not guaranteed.  Benefits may be reduced or even 
									eliminated at any time.
									</span> </p>
		  						</span>
		  						<p class="i"><button ng-click="fifthPage.infoMode = !fifthPage.infoMode">i</button></p>
		  					</span>
		  					<span ng-show="fifthPage.calculMode">
		  						<span style="font-size: 20px;">Calculating...</span>
		  						<progressbar style="height: 5px;margin-bottom: 0px;margin-left: 40px;margin-right: 40px;" value="fifthPage.progress"></progressbar>
		  						<slot-machine-text increase="fifthPage.slot">
		  						<div style="font-size: 20px;">Years Until Retirement: {{ fifthPage.result.yearBeforeRetirement }}</div>
		  						<div style="font-size: 20px;">Annual Contribution: {{ fifthPage.result.annualContribution }}%</div>
		  						<div style="font-size: 20px;">Inflation: {{ fifthPage.result.inflationRate }}%</div>
		  						<div style="font-size: 20px;">Total Saving: {{ fifthPage.result.totalSaving | currency:"$":0 }}</div>
		  						<div style="font-size: 20px;">Divided By {{ fifthPage.result.retirementLast }} Years</div>
		  					</slot-machine-text>
		  				</span>
		  			</div>
		  			<div class="arrow-down" ng-class="{black-arrow: fifthPage.infoMode}"></div>
		  			<ball scale="fifthPage.circle.scale" init-scale="{{ fifthPage.result.annualContribution }}" ng-if="!isMobile()">
		  				<span class="inner-shadow">
		  				</span>

		  			</ball>
		  			<p class="footnote ital" ng-hide="isMobile()">Inflation is assumed to be 3%. The return is purely hypothetical</p>
		  		</div>

		  		<div class="enough col-sm-6" ng-show="fifthPage.resultMode">
		  			<div class="inner">
		  			<div class="grey">
		  			<div class="col-xs-6 col-sm-12">
		  				<h4 class="col-sm-12">is that enough?</h4>
		  				<p class="col-sm-12">See how increasing your retirement contribution could make a big difference.</p>
		  				</div>
		  				<animated-number class="col-xs-12 col-sm-12" number="fifthPage.increase" select="true" more-clicked="fifthPage.more(number)" less-clicked="fifthPage.less(number)"></animated-number>
		  				</div>

		  				<div class="prompt estimate col-xs-12" ng-hide="isMobile()">
		  				<div class="h-center" style="width:100%;">
		  					<p>Once you factor in inflation, you would have about 

		  					<h2>$
							<span odometer="{{ fifthPage.result.realityCheck | number : 0 }}"></span><span class="slash span">/yr</span><span class="footnote num span">*</span></h2>
		  						in today's dollars.
		  					</p>
		  					</div>
		  				</div>


		  				<div class="prompt estimate col-xs-12" ng-show="isMobile()">
		  				<div class="h-center" style="width:100%;">
		  					<p>Once you factor in inflation, you would have about 

		  					<b>$<span odometer="{{ fifthPage.result.realityCheck | number : 0 }}"></span><span class="slash span">/yr</span><span class="footnote num span">1</span></b>
		  						in today's dollars.
		  					</p>
		  					</div>
		  				</div>
		  			</div>
		  			<p class="footnote ital" ng-hide="isMobile()">Inflation is assumed to be 3%. The return is purely hypothetical</p>
		  		</div>
		  	</div>
		  </div>
		</page>

		  <page class="slide">
			<div class="container" ng-controller="SixthPageController as sixthPage">
			<div class="content inner plan">
			<ul class="row nav-plan">
				<li class="left" ng-click="main.prev()">Back</li>
				<li class="right" ng-click="main.startOver()">Start over</li>


			</ul>
				<h3>MAKE A PLAN </h3>
				<p class="blue-note">Studies show people who monitor their investments are more than twice as likely to succeed at retirement.<span class="footnote" ng-hide="isMobile()">1</span>
				
				<div class="center">
				<div class="col-xs-8 col-sm-4 plan-entry">
				<h4 class="labels navy">Remind me</h4>
				<p>Set a quarterly calendar reminder to check in on your retirement account.</p>
				<a href="http://sit.bringyourchallenges.com/roundtable/calendar" style="text-decoration: none;"><button class="btn btn-default round"> Set a calendar reminder</button></a>
				</div>

				<div class="col-xs-8 col-sm-4 plan-entry">
				<h4 class="labels navy">Start now</h4>
				<p>Log in to your Prudential retirement account and start contributing more today. <br>Or call <a href="tel:18777782100" >1-877-778-2100</a> for assistance.</p>
				<button class="btn btn-default round" ><a href="http://www.prudential.com/online/retirement" target="_blank" style="color:white">Login now</a></button>
				</div>
				</div>

				<div class="col-xs-12 row source">
				<p>Source: <a href="#">Prudential Financial Literacy and Retirement Readiness Study</a></p>
				</div>
			</div>
			</div>
					<div class="btn-group" ng-if="main.displayButtons">
			<button type="button" class="btn btn-default back" ng-click="main.prev()">
				<span class="glyphicon glyphicon-menu-left"></span>Back
			</button>

			<button type="button" class="btn btn-default next" ng-disabled="main.nextDisabled()" ng-click="main.next()">
			{{main.nextButton}}
				<span class="glyphicon glyphicon-menu-right"></span>
			</button>
		</div>
		  </page>
		</page-carousel>

		<div class="btn-group" ng-if="main.displayButtons">
			<button type="button" class="btn btn-default back" ng-click="main.prev()">
				<span class="glyphicon glyphicon-menu-left"></span>Back
			</button>

			<button type="button" class="btn btn-default next" ng-disabled="main.nextDisabled()" ng-click="main.next()">
			{{main.nextButton}}
				<span class="glyphicon glyphicon-menu-right"></span>
			</button>
		</div>
	</div>

</div><!-- end container -->

{% endverbatim %}


{% if content_piece.isForestView|default is not empty %}
    {% include 'BYCCMSBundle:ContentPiece:ForestViewContentPiece.html.twig' with {"content_piece":content_piece} %}
{% endif %}
